<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.anylogic.ms.MS"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="readtrafficcs.Simulation 1923d78"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Readtrafficcs_BUILD"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value=" -Xmx256m -DlanguageId_xjal=en0mdj83 -DFlowchartCountersVisible_xjal=true -DTileCachePath_xjal=&quot;C:\Program Files\AnyLogic 7 University\plugins\com.anylogic.gis_7.3.0.201602191418\tiles&quot; -DFlowchartPortStateAnimated_xjal=true -DuseProxy_xjal=false"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\Ebuka Nwachukwu\Models\Readtrafficcs\"/>
</launchConfiguration>
